@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');


  body {
            font-family: 'Inter', sans-serif;
            background-color: #f9fafb; /* Light Gray for overall background */
        }
        /* Custom scrollbar for sidebar, if content overflows */
        .sidebar {
            scrollbar-width: thin;
            scrollbar-color: #256D9C #1A4B6B;
        }
        .sidebar::-webkit-scrollbar {
            width: 8px;
        }
        .sidebar::-webkit-scrollbar-track {
            background: #1A4B6B;
        }
        .sidebar::-webkit-scrollbar-thumb {
            background-color: #256D9C;
            border-radius: 4px;
            border: 2px solid #1A4B6B;
        }